*{
    
    /* border: blue solid; */
     font-weight: normal;
}

body {
    background-image: url('./imagess/bac.jpg') ;
    background-size: 111%;
    background-repeat: repeat-y;
    font-family: 'Fredericka the Great', serif;
    color:white; 
}
nav{
    height: 10vh;
    border-bottom: white solid;
    background-image: url('./imagess/Pizzaflag.png');
    background-image: no-repeat;
    background-size: 100vw;
    color:white; 
    display: flex;
    justify-content:space-between;
    
    
}
.inlog-uitlog{
    display: flex;
    justify-content:right;
    margin: 0px;
}
.inloglink{
   margin-right: 50px;
   margin-top: 20px;
   background-color: whitesmoke;
   height: 25px;
   width: 65px;
   border-radius: 10px;
   border-width: 5px;
   border-style: solid;
   border-color: whitesmoke;
}
hr{
    color:white;
    background-color: white;
    height: 5px;
}
.formtitle {
    width:100%;
    text-align: center;
    font-size: 50px;
    
}
h2{
    font-family: 'Dancing Script', cursive;
    margin-left: 10px;
}
input{
    color:black;
}


.centerformdiv {
    display: flex;
    justify-content: center;
}

.formdiv{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 60px;
    background-color: rgba(255, 255, 255, 0.148);
    border-radius: 20px;
}
.pizza-name{
    font-size: 25px;
}

.pizzadiv{
 width: 350px;
 height: 500px;
 gap: 5px;
 
    
  
}
.pizza-imgs{
    width: 350px;
    height: 215px;
    image-resolution: 3000dpi;
    border-style: solid;
    border-color: whitesmoke;
}
.pizza-inp-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lorem_p{
    margin: 4px;
}

.pizza-inp{
    height: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
}
.pizza-inp:focus {
    outline: rgb(255, 255, 255) auto 5px; 
    outline-width: 5px;
    background-color: rgb(255, 255, 255);
}


.pizza-price{
    margin:0%;
    margin-right: 10px;
    font-size: 20px;
}

.submit-btn {
    margin-left: 60px;
}

h3{
    font-size: 25px;
}
.inline{
    display: inline;
}
.info-center{
    display:flex;
    justify-content: center;
}
.user-info-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border: white solid;
}
.kortingmsg {
    color: rgb(140, 220, 19);
    text-align: center;
    size: 100px;
}

footer {
    height: 10vh;
    background-color: rgba(181, 255, 243, 0.603);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
}

.footh5 {
    color: rgb(255, 255, 255);
    margin-left: 5px;
}